:root {
  --color-positive: hsl(163, 72%, 41%);
  --color-negative: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-youtube: hsl(348, 97%, 39%);
  --color-toggle-unchecked: hsl(230, 22%, 74%);
  --color-toggle-thumb-unchecked: hsl(227, 47%, 96%);
  --color-toggle-thumb-checked: hsl(228, 28%, 20%);
  --size-offset: 45px;
    --text-color-dark: white;
  --text-color-light: black;
  --size-container-padding: 25px;
  --size-toggle-thumb: 18px;
  --size-toggle-padding: 3px;
  --size-toggle-label-padding: 13px;
  --size-toggle-space-inside: 6px;
  --size-toggle-width: calc(
    var(--size-toggle-thumb) * 2 + var(--size-toggle-padding) * 2 +
      var(--size-toggle-space-inside)
  );
  --size-toggle-height: calc(
    var(--size-toggle-thumb) + var(--size-toggle-padding) * 2
  ); }

@media (min-width: 660px) {
  :root {
    --size-offset: 107px; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


.nav-item a:hover{
    color : #0093ff;
    font-weight: bold;
    
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-90deg); }
  50%{ transform: rotate(-180deg); }
  75% { transform: rotate(-270deg); }
  100% { transform: rotate(-360deg); }
}


    .ani{
        animation: spin 10s linear infinite;
    }




h2 {
  margin-top: 46px;
  margin-bottom: 24px; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2 {
  font-size: 1.5rem; }

h3 {
  font-size: inherit; }

@media (min-width: 660px) {
  h1 {
    font-size: 1.75rem; }
    }

.container {
  padding: 1px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1110px + var(--size-container-padding) * 2);
}

.header {
  background-image: linear-gradient(316deg, #4546a7 -280%, #1a003b 120%);
  border-bottom-left-radius: var(--size-container-padding);
  border-bottom-right-radius: var(--size-container-padding);
  padding: 36px 0 calc(46px + var(--size-offset));
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;  
  width: 100%;
  box-shadow: rgb(155 155 155 / 20%) 0px 0px 20px 8px;
}
.hide1{
    display:none !important;
} 

@media screen and (max-width: 700px) {

.header {
    display:none !important;
 }
.hide{
    display:none !important;
}
.hide1{
    display:block !important;
    color: #f00;
    font-size: 20px;
}
}

.header__text > * {
  margin: 0;
}

.header__subtitle {
  margin-top: 3px;
  color: var(--color-muted);
}

 
 

.header__text {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1rem; 
    
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
      
  } 

.toggle {
  display: inline-flex; }
  .toggle:focus-within .toggle__label::before {
    outline: 1px dotted #212121;
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color; }
  .toggle__input + .toggle__label {
    padding-right: calc( var(--size-toggle-width) + var(--size-toggle-label-padding)); }
    .toggle__input + .toggle__label::before, .toggle__input + .toggle__label::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 99px; }
    .toggle__input + .toggle__label::before {
      top: 50%;
      right: 0;
      height: var(--size-toggle-height);
      width: var(--size-toggle-width);
      padding: var(--size-toggle-padding);
      background-color: var(--color-toggle-unchecked);
      transform: translateY(-50%); }
    .toggle__input + .toggle__label::after {
      top: calc(50%);
      right: var(--size-toggle-padding);
      height: var(--size-toggle-thumb);
      width: var(--size-toggle-thumb);
      background-color: var(--color-toggle-thumb-unchecked);
      transform: translateX(0) translateY(-50%);
      transition: transform 0.3s, background-color 0.3s; }
    .toggle__input + .toggle__label:hover::before {
      background-image: linear-gradient(45deg, #378fe6, #3eda82); }
  .toggle__input:checked + .toggle__label::before {
    background-image: linear-gradient(45deg, #378fe6, #3eda82); }
  .toggle__input:checked + .toggle__label::after {
    background-color: var(--color-toggle-thumb-checked);
    transform: translateX(calc(-100% - var(--size-toggle-space-inside))) translateY(-50%); }
  .toggle__input:checked + .toggle__label:hover::after {
    background-color: var(--color-bg-card-hover); }
  .toggle__label {
    position: relative;
    cursor: pointer;
    padding: 6px var(--size-toggle-label-padding) 6px 0;
    color: var(--color-muted); }

@media (max-width: 659px) {
  .toggle, .toggle__label {
    width: 100%; } }

 

.grid {
  display: grid;
  gap: 24px; }
  .grid--overview {
    gap: 16px; }

@media (min-width: 660px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 30px; } }

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); } }

 

.trend {
  color: var(--color-negative);
  font-weight: bold;
  font-size: 0.75rem; }
  .trend__arrow {
    display: inline-block;
    overflow: hidden;
    width: 8px;
    height: 4px;
    background-color: currentColor;
    text-indent: -999%;
    vertical-align: middle;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    margin-top: -1px;
    margin-right: 1px; }
  .trend--positive {
    color: var(--color-positive); }
    .trend--positive .trend__arrow {
      transform: rotate(180deg); }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
        .navbar {
        display: flex;
        align-items: center;
      }
    
      .nav-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 20px; /* Adjust the spacing between items */
      }
    
      .nav-item a {
        text-decoration: none;
        color: #fff; /* Set the font color to white */
        font-weight: bold;
      }
    
      /* Style the "Login" link */
      .nav-item.toggle {
        display: flex;
        align-items: center; /* Align "Login" and "Dark Mode" vertically */
      }
    
      .toggle__label {
        margin-left: 10px; /* Add spacing between "Dark Mode" and "Login" */
      }
 
.flex-container {
  display: flex;
  align-items: center;
}

/* Adjust the spacing between SVG and Login */
.flex-container svg {
  margin-right: 10px;
}
.nav-list {
  font-size: 0.875rem; /* Adjust the font size as needed */
}

/* Reduce the size of the SVG */
svg {
  height: 40px; /* Adjust the height as needed */
  width: 40px; /* Adjust the width as needed */
}
    /* Style the custom scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #191c24; /* Light gray background for the track */
    }

    ::-webkit-scrollbar-thumb {
        background: #666; /* Dark gray color for the thumb */
        border-radius: 5px; /* Round the corners of the thumb */
        border: 2px solid #191c24; /* Add a subtle border to the thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #444; /* Slightly darker gray color on hover */
    }


 
 
 
 #sparkle1 {
	 animation: sparkle-ani 3.5s ease-in-out 0s infinite;
	 transform-origin: 50% 50%;
}
 #sparkle2 {
	 animation: sparkle-ani 3.5s ease-in-out 1s infinite;
	 transform-origin: 50% 50%;
}
 #sparkle3 {
	 animation: sparkle-ani 3.5s ease-in-out 2s infinite;
	 transform-origin: 50% 50%;
}
 @keyframes sparkle-ani {
	 0% {
		 opacity: 0;
		 transform: rotate(0deg);
	}
	 80% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
		 transform: rotate(360deg);
	}
}
 #spotlight1 {
	 transform-origin: 50% 100%;
	 animation: spotlight1-ani 10s ease-in-out 0s infinite alternate;
}
 #spotlight2 {
	 transform-origin: 50% 100%;
	 animation: spotlight2-ani 10s ease-in-out 0s infinite alternate;
}
 @keyframes spotlight1-ani {
	 from {
		 transform: rotate(-45deg);
	}
	 to {
		 transform: rotate(45deg);
	}
}
 @keyframes spotlight2-ani {
	 from {
		 transform: rotate(45deg);
	}
	 to {
		 transform: rotate(-45deg);
	}
}
#teamRankIcon::before,
#userSolvedCountIcon::before,
#firstblood::before,
#teamSolvedCountIcon::before,
#userFirstBloodIcon::before { /* Include the new selector for User FirstBlood */
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

#teamRankIcon::before {
    content: "Team Rank"; /* Default content for Team Rank */
}

#userSolvedCountIcon::before {
    content: "User Solved Count"; /* Default content for User Solved Count */
}

#firstblood::before {
    content: "Team FirstBlood"; /* Default content for FirstBlood */
}

#teamSolvedCountIcon::before {
    content: "Team Solved Count"; /* Default content for Team Solved Count */
}

#userFirstBloodIcon::before {
    content: "User FirstBlood"; /* Default content for User FirstBlood */
}

#teamRankIcon:hover::before,
#userSolvedCountIcon:hover::before,
#firstblood:hover::before,
#teamSolvedCountIcon:hover::before,
#userFirstBloodIcon:hover::before {
    opacity: 1;
}

     
 
 * {
	 box-sizing: border-box;
}
.numeroUno {
    /* Your existing CSS for .numeroUno */
    max-width: 100px; /* Adjust the width as needed */
    height: auto; /* This ensures aspect ratio is maintained */
}

 
 .numeroUno .medalion {
	 transform: scale(0);
	 transform-origin: 51% 81%;
	 animation: oneAnimation 0.5s 0.6s forwards ease;
}
 .numeroUno .glory_rays_rapper {
	 transform: scale(0);
	 animation: scaleRays 0.5s 0.4s forwards ease;
	 transform-origin: 51% 81%;
}
 .numeroUno .glory_rays_rapper .glory_rays {
	 transform-origin: 51% 81%;
	/* animation: rotateRays 1s 0.4s forwards ease;
	 */
}
 .numeroUno .left_branch .bottom_leafs .leaf_rapper .leaf, .numeroUno .right_branch .bottom_leafs .leaf_rapper .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.1s forwards ease;
}
 .numeroUno .left_branch .bottom_leafs .leaf_rapper:nth-child(2) .leaf, .numeroUno .right_branch .bottom_leafs .leaf_rapper:nth-child(2) .leaf {
	 animation-delay: 1.2s;
}
 .numeroUno .left_branch .stem_rapper, .numeroUno .right_branch .stem_rapper {
	 transform-origin: 36% 78%;
	 transform: rotate(2deg);
	 animation: leftStemRotate 3s 1.9s infinite linear;
}
 .numeroUno .left_branch .stem_rapper .stem, .numeroUno .right_branch .stem_rapper .stem {
	 transform: scale(0) rotate(-50deg);
	 transform-origin: 36% 78%;
	 animation: stemAnimation 0.6s 1.3s forwards ease;
}
 .numeroUno .left_branch .bottom_leafs .leaf_rapper {
	 transform-origin: 37% 78%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 1.7s infinite ease;
}
 .numeroUno .left_branch .bottom_leafs .leaf_rapper:nth-child(2) {
	 animation-delay: 1s;
}
 .numeroUno .left_branch .bottom_leafs .leaf_rapper .leaf {
	 transform-origin: 37% 78%;
}
 .numeroUno .left_branch .stem_rapper .top_leaf {
	 transform-origin: 10% 38%;
	 transform: rotate(-9deg);
	 animation: rightTopLeafRotate 3s 2.2s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .top_leaf .leaf {
	 transform: scale(0);
	 animation: scaleToOne 0.6s 1.85s forwards ease;
	 transform-origin: 10% 36%;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(1) {
	 transform-origin: 8% 51%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.3s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(1) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.7s forwards ease;
	 transform-origin: 8% 51%;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(2) {
	 transform-origin: 10% 52%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.25s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(2) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.65s forwards ease;
	 transform-origin: 10% 52%;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(3) {
	 transform-origin: 10% 59%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.2s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(3) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.6s forwards ease;
	 transform-origin: 10% 59%;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(4) {
	 transform-origin: 17% 69%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.15s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .left .leaf_rapper:nth-child(4) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.55s forwards ease;
	 transform-origin: 17% 69%;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(1) {
	 transform-origin: 10% 43%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.6s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(1) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.8s forwards ease;
	 transform-origin: 10% 43%;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(2) {
	 transform-origin: 12% 52%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.55s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(2) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.75s forwards ease;
	 transform-origin: 12% 52%;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(3) {
	 transform-origin: 13% 59%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.5s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(3) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.7s forwards ease;
	 transform-origin: 13% 59%;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(4) {
	 transform-origin: 20% 69%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 2.45s infinite ease;
}
 .numeroUno .left_branch .stem_rapper .right .leaf_rapper:nth-child(4) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.65s forwards ease;
	 transform-origin: 20% 69%;
}
 .numeroUno .right_branch .bottom_leafs .leaf_rapper {
	 transform-origin: 63% 78%;
	 transform: rotate(-4deg);
	 animation: rightLeafRotate 3s 1.7s infinite ease;
}
 .numeroUno .right_branch .bottom_leafs .leaf_rapper:nth-child(2) {
	 animation-delay: 1s;
}
 .numeroUno .right_branch .bottom_leafs .leaf_rapper .leaf {
	 transform: scale(0) rotate(50deg);
	 transform-origin: 63% 78%;
}
 .numeroUno .right_branch .stem_rapper {
	 transform-origin: 67% 78%;
	 transform: rotate(-2deg);
	 animation: rightStemRotate 3s 1.9s infinite linear;
}
 .numeroUno .right_branch .stem_rapper .top_leaf {
	 transform-origin: 90% 38%;
	 transform: rotate(9deg);
	 animation: leftTopLeafRotate 3s 2.2s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .top_leaf .leaf {
	 transform: scale(0);
	 animation: scaleToOne 0.6s 1.85s forwards ease;
	 transform-origin: 90% 36%;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(1) {
	 transform-origin: 93% 43%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.6s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(1) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.8s forwards ease;
	 transform-origin: 93% 43%;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(2) {
	 transform-origin: 90% 52%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.55s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(2) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.75s forwards ease;
	 transform-origin: 90% 52%;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(3) {
	 transform-origin: 87% 59%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.5s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(3) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.7s forwards ease;
	 transform-origin: 87% 59%;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(4) {
	 transform-origin: 80% 69%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.45s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .left .leaf_rapper:nth-child(4) .leaf {
	 transform: scale(0) rotate(50deg);
	 animation: stemAnimation 0.6s 1.65s forwards ease;
	 transform-origin: 80% 69%;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(1) {
	 transform-origin: 93% 51%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.3s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(1) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.7s forwards ease;
	 transform-origin: 93% 51%;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(2) {
	 transform-origin: 91% 52%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.25s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(2) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.65s forwards ease;
	 transform-origin: 91% 52%;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(3) {
	 transform-origin: 90% 59%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.2s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(3) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.6s forwards ease;
	 transform-origin: 90% 59%;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(4) {
	 transform-origin: 83% 69%;
	 transform: rotate(4deg);
	 animation: leftLeafRotate 3s 2.15s infinite ease;
}
 .numeroUno .right_branch .stem_rapper .right .leaf_rapper:nth-child(4) .leaf {
	 transform: scale(0) rotate(-50deg);
	 animation: stemAnimation 0.6s 1.55s forwards ease;
	 transform-origin: 83% 69%;
}
 .numeroUno .right_branch .stem_rapper .stem {
	 transform: scale(0) rotate(50deg);
	 transform-origin: 67% 78%;
}
 .numeroUno .one {
	 transform-origin: 50% 50%;
	 transform: scale(0);
	 animation: oneAnimation 0.8s 1s forwards ease;
}
 .numeroUno .sparks {
	 opacity: 0;
	 transform: scale(0.6);
	 transform-origin: 50% 50%;
	 animation: fadeInSparkRapper 2s 1.7s forwards ease;
}
 .numeroUno .sparks .spark {
	 opacity: 0;
	 animation: fadeInSparks 5s infinite ease;
}
 .numeroUno .sparks .spark:nth-child(1) {
	 animation-delay: 0.4s;
}
 .numeroUno .sparks .spark:nth-child(2) {
	 animation-delay: 0.8s;
}
 .numeroUno .sparks .spark:nth-child(3) {
	 animation-delay: 1.2s;
}
 .numeroUno .sparks .spark:nth-child(4) {
	 animation-delay: 1.6s;
}
 .numeroUno .sparks .spark:nth-child(5) {
	 animation-delay: 2s;
}
 .numeroUno .sparks .spark:nth-child(6) {
	 animation-delay: 2.4s;
}
 .numeroUno .sparks .spark:nth-child(7) {
	 animation-delay: 2.8s;
}
 .numeroUno .sparks .spark:nth-child(8) {
	 animation-delay: 3.2s;
}
 .numeroUno .sparks .spark:nth-child(9) {
	 animation-delay: 3.6s;
}
 .numeroUno .sparks .spark:nth-child(10) {
	 animation-delay: 4s;
}
 .numeroUno .sparks .spark:nth-child(11) {
	 animation-delay: 4.4s;
}
 .numeroUno .sparks .spark:nth-child(12) {
	 animation-delay: 4.8s;
}
 .numeroUno .sparks .spark:nth-child(13) {
	 animation-delay: 5.2s;
}
 .numeroUno .sparks .spark:nth-child(14) {
	 animation-delay: 5.6s;
}
 @keyframes stemAnimation {
	 100% {
		 transform: scale(1) rotate(0deg);
	}
}
 @keyframes leftLeafRotate {
	 0% {
		 transform: rotate(4deg);
	}
	 50% {
		 transform: rotate(-4deg);
	}
	 100% {
		 transform: rotate(4deg);
	}
}
 @keyframes rightLeafRotate {
	 0% {
		 transform: rotate(-4deg);
	}
	 50% {
		 transform: rotate(4deg);
	}
	 100% {
		 transform: rotate(-4deg);
	}
}
 @keyframes leftTopLeafRotate {
	 0% {
		 transform: rotate(9deg);
	}
	 50% {
		 transform: rotate(-9deg);
	}
	 100% {
		 transform: rotate(9deg);
	}
}
 @keyframes rightTopLeafRotate {
	 0% {
		 transform: rotate(-9deg);
	}
	 50% {
		 transform: rotate(9deg);
	}
	 100% {
		 transform: rotate(-9deg);
	}
}
 @keyframes leftStemRotate {
	 0% {
		 transform: rotate(2deg);
	}
	 50% {
		 transform: rotate(-2deg);
	}
	 100% {
		 transform: rotate(2deg);
	}
}
 @keyframes rightStemRotate {
	 0% {
		 transform: rotate(-2deg);
	}
	 50% {
		 transform: rotate(2deg);
	}
	 100% {
		 transform: rotate(-2deg);
	}
}
 @keyframes scaleToOne {
	 100% {
		 transform: scale(1);
	}
}
 @keyframes oneAnimation {
	 50% {
		 transform: scale(1.1);
	}
	 100% {
		 transform: scale(1);
	}
}
 @keyframes fadeInSparkRapper {
	 20% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes fadeInSparks {
	 0% {
		 opacity: 0;
	}
	 20% {
		 opacity: 1;
	}
	 80% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes scaleRays {
	 60% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
		 transform: scale(1.1);
	}
}
 @keyframes rotateRays {
	 100% {
		 transform: rotate(180deg);
	}
}
/* Add these styles to your navbar.css file or in a <style> tag in your HTML */

/* Default styles for navigation items */
.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0px 5px 0px 5px;
}

/* Add this to your CSS to style the menu button and hide the nav-list initially */
.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Styles for smaller screens (hide the nav-list initially) */


    .time {
        font-size: 36px; /* Increase the font size to your desired value */
        text-align: center;
        margin: 0 10px;
        font-weight: bold;
        color: red; /* Text color */
    }

    .label {
        font-size: 24px; /* Increase the font size to your desired value */
        font-weight: bold;
        color: red; /* Text color */
    }
/* Default styles for navigation items */
.header {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

/* Add this to your CSS to style the menu button and hide the nav-list initially */
.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* Styles for smaller screens (hide the nav-list initially) */



    
.back-arrow {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .back-arrow i {
        font-size: 24px;
        color: #fff;
    }    

        
        
        
        
/*index.php:*/

/*.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
}
*/
/* Styles for the menu button */
.menu-button {
    display: none; /* Hide the menu button by default for larger screens */
    cursor: pointer;
}

.bar {
    background-color: #333;
    height: 3px;
    width: 25px;
    margin: 6px 0;
}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



